<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>This is hello Page</h1>

    <!-- <h2 th:text="${name}">name</h2> -->

    <!-- <div>
        <input type="text" placeholder="Enter Name" th:value="${name}"/>
    </div> -->

    <div th:if="${player != null}">
        <h3 th:text="${player.name}">Name</h3>
        <h3 th:text="${player.email}">Email</h3>
        <h3 th:text="${player.password}">Password</h3>
        <h3 th:text="${player.phoneNumber}">Phone Number</h3>
        <h3 th:text="${player.gameId}">Game Id</h3>
        <h3>Game Id : <span th:text="${player.gameId}">Game Id</span></h3>
    </div>


    <form action="/submit-name" method="post">
        <input type="text" name="animal" placeholder="Enter Animal Name" />
        <button type="submit">submit</button>
    </form>


    <h2 th:text="${name}">Name</h2>


    <!-- using fragment -->

    <div style="color: red;" th:insert="~{base :: parent}">This is in hello page</div>

    <div style="color: red;" th:replace="~{base :: parent}">This is in hello page</div>


    
    
</body>
</html>